force-app/main/default/flows/Order_Generate_Invoice_on_Delivery.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Logistician</name>
        <label>Notify Logistician</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <stringValue>vova.vysot2.0@gmail.com</stringValue>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Замовлення доставлено: {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;Рейс {!$Record.Name} доставлено! Вантаж передано замовнику. Водій {!$Record.Driver__r.Name} тепер вільний для нових призначень.&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>DueDateFormula</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+5</expression>
    </formulas>
    <interviewLabel>Order: Generate Invoice on Delivery {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order: Generate Invoice on Delivery</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Invoice</name>
        <label>Create Invoice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Notify_Logistician</targetReference>
        </connector>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>DueDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Invoice</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Statud__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivered</stringValue>
            </value>
        </filters>
        <object>Order__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
